.env
*.pyc

!core/project/settings/local.py
core/project/settings/local.py

__pycache__/
.idea/
.vscode/
.pytest_cache/
nginx/

docker_compose/nginx.yaml
images/photo_2024-08-25_00-25-07.jpg

!staticfiles/.gitkeep